* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Lucida Console", "Courier New", "Verdana", monospace;
}

h2 {
    font-family: "Lucida Console", "Courier New", "Verdana", monospace;
}

a { 
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    font-family: "Lucida Console", "Verdana", monospace;
}